<div class="list-container">
    <h1>Schedules Plan List</h1>
    <div class="list">
      <div *ngIf="allPlans$ | async as schedules; else loading">
        <div *ngFor="let dat of schedules; let i = index" class="schedule-item" [style.--delay]="i">
          <p class="schedule-title">{{ dat.Title }}</p>
          <p class="schedule-description">{{ dat.Description }}</p>
          <p class="schedule-due-date">{{ dat.DueDate }}</p>
          <p [ngClass]="{
            'priority-high': dat.Priority === 'High',
            'priority-medium': dat.Priority === 'Medium',
            'priority-low': dat.Priority === 'Low'
          }" class="schedule-priority">{{ dat.Priority }}</p>
          <p class="schedule-status">{{ dat.Status }}</p>
          <p class="schedule-assigned-to">{{ dat.AssignedTo }}</p>
        </div>
      </div>
      <ng-template #loading>
        <p class="loading">Loading...</p>
      </ng-template>
    </div>
  </div>
  